<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content" class="modal fade text-center">
	<form th:action="@{${moduleURL} + '/page/1'}" class="form-inline m-3">
		<input type="hidden" name="sortField" th:value="${sortField}" />
		<input type="hidden" name="sortDir" th:value="${sortDir}" />

		Filter:&nbsp;
		<input type="search" name="keyword" th:value="${keyword}" class="form-control" required /> &nbsp;&nbsp;

		<button type="submit" class="btn btn-primary">
			<i class="fas fa-search"></i>
		</button>
		&nbsp;&nbsp;

		<button type="button" class="btn btn-secondary"	onclick="clearFilter()">
			<i class="fas fa-eraser"></i>
		</button>
	</form>

	<div th:if="${message != null}" class="alert alert-success text-center">[[${message}]]</div>
	</div>
</body>

</html>