<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="content">


    <form method="post" name="logoutForm" th:action="@{/logout}" th:hidden="true">
        <input type="submit">
    </form>


    <ul class="dropdown-menu dropdown-menu-end" style="right: 0 !important; left: auto !important;">
        <li class="dropdown-item icon-d-green" th:text="${#authentication.principal.getFullName}"></li>
        <li>
            <hr class="dropdown-divider">
        </li>
            <li><a class="dropdown-item" id="logout">Log out</a></li>
            <li><a class="dropdown-item" th:href="@{/account}">Profile</a></li>
        </ul>
</div>
</body>

</html>