<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{support/fragments/standard/layout/header::content}"></head>

<body>
<div th:fragment="content">


    <nav class="navbar navbar-top navbar-expand-md bg-black ">
        <div class="container-fluid   ">

            <a class="navbar-brand " th:href="@{/}">
                <img alt="SITE LOGO" class="rounded-pill theme-logo"
                     style="object-fit: contain; background-color: transparent; " th:src="@{/images/tab.png}"/>
            </a>

            <div th:replace="~{support/fragments/navbar/navbar-toggler::content}"></div>


            <div class="collapse navbar-collapse mt-2" id="mainNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle icon-navbar"
                           data-bs-toggle="dropdown" href="#" role="button">
                            Manage Users
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="dropdown-item text-dark-emphasis"
                                th:replace="~{support/fragments/navbar/nav_link::contant('users/users','Users')}">
                            </li>
                            <li class="dropdown-item text-dark-emphasis"
                                th:replace="~{support/fragments/navbar/nav_link::contant('users/new-users-form','New Users')}">
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="dropdown-item text-dark-emphasis"
                                th:replace="~{support/fragments/navbar/nav_link::contant('customer/customer','customer')}">
                            </li>
                            <li class="dropdown-item text-dark-emphasis"
                                th:replace="~{support/fragments/navbar/nav_link::contant('customer/new-customer-form','New customer')}">
                            </li>
                        </ul>
                    </li>

                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle icon-navbar"
                               data-bs-toggle="dropdown" href="#" role="button">
                                Category Product
                            </a>
                            <ul class="dropdown-menu bg-dark">
                                <li class="dropdown-item text-dark-emphasis"
                                    th:replace="~{support/fragments/navbar/nav_link::contant('categories/categories','categories')}">
                                </li>
                                <li class="dropdown-item text-dark-emphasis"
                                    th:replace="~{support/fragments/navbar/nav_link::contant('categories/new-categories-form','New category')}">
                                </li>
                                <li class="dropdown-item text-dark-emphasis"
                                    th:replace="~{support/fragments/navbar/nav_link::contant('brands/brands','Brand')}">
                                </li>
                                <li class="dropdown-item text-dark-emphasis"
                                    th:replace="~{support/fragments/navbar/nav_link::contant('brands/new-brands-form','New Brand')}">
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="dropdown-item text-dark-emphasis"
                                    th:replace="~{support/fragments/navbar/nav_link::contant('products/products','Products')}">
                                </li>
                                <li class="dropdown-item text-dark-emphasis"
                                    th:replace="~{support/fragments/navbar/nav_link::contant('products/new-products-form','New Product')}">
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="dropdown-item text-dark-emphasis"
                                    th:replace="~{support/fragments/navbar/nav_link::contant('services','Services')}">
                                </li>
                                <li class="dropdown-item text-dark-emphasis"
                                    th:replace="~{support/fragments/navbar/nav_link::contant('services/new','New Service')}">
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="dropdown-item text-dark-emphasis"
                                    th:replace="~{support/fragments/navbar/nav_link::contant('services','Services')}">
                                </li>
                                <li class="dropdown-item text-dark-emphasis"
                                    th:replace="~{support/fragments/navbar/nav_link::contant('services/new','New Service')}">
                                </li>
                            </ul>
                        </li>

                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle icon-navbar"
                           data-bs-toggle="dropdown" href="#" role="button">
                            Settings
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="dropdown-item text-dark-emphasis"
                                th:replace="~{support/fragments/navbar/nav_link::contant('settings','settings')}">
                            </li>
                            <li class="dropdown-item text-dark-emphasis"
                                th:replace="~{support/fragments/navbar/nav_link::contant('settings/themes','Themes')}">
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle icon-navbar"
                           data-bs-toggle="dropdown" href="#" role="button">
                            Shipping
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="dropdown-item text-dark-emphasis"
                                th:replace="~{support/fragments/navbar/nav_link::contant('shipping-rate','Shipping Rate')}">
                            </li>
                            <li class="dropdown-item text-dark-emphasis"
                                th:replace="~{support/fragments/navbar/nav_link::contant('new-shipping-rate-form','New Shipping Rate')}">
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle icon-navbar"
                           data-bs-toggle="dropdown" href="#" role="button">
                            Order
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="dropdown-item text-dark-emphasis"
                                th:replace="~{support/fragments/navbar/nav_link::contant('orders','Orders')}">
                            </li>
                            <li class="dropdown-item text-dark-emphasis"
                                th:replace="~{support/fragments/navbar/nav_link::contant('reports','Reports')}">
                            </li>
                            <li class="dropdown-item text-dark-emphasis"
                                th:replace="~{support/fragments/navbar/nav_link::contant('reviews','Customer reviews')}">
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="dropdown-item text-dark-emphasis"
                                th:replace="~{support/fragments/navbar/nav_link::contant('articles','Articles')}">
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle icon-navbar"
                           data-bs-toggle="dropdown" href="#" role="button">
                            Content
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="dropdown-item text-dark-emphasis"
                                th:replace="~{support/fragments/navbar/nav_link::contant('convert/convert','PdfConvert')}">
                            </li>
                        </ul>
                    </li>
                </ul>


                <!-- User Profile Dropdown (Right Aligned) -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown d-flex flex-column align-items-center">
                        <a class="nav-link dropdown-toggle icon-navbar mt-1 d-flex flex-column align-items-center"
                           data-bs-toggle="dropdown" href="#" role="button">
                            <div th:replace="~{support/fragments/navbar/image_icon::content}"></div>
                            <span th:text="${#authentication.principal.getAuthorities()}"></span>
                        </a>
                        <ul class="dropdown-menu" th:replace="~{support/fragments/navbar/drop-down-menu::content}">
                        </ul>
                    </li>
                    </ul>
                </div>
            </div>
</div>
    </nav>
</div>

</body>

</html>