*.icon-white {
    color: white
}

*.icon-silver {
    color: silver
}

*.icon-green {
    color: lawngreen
}

*.icon-dark {
    color: rgb(128, 128, 128)
}

*.icon-golden {
    color: gold
}

*.icon-red {
    color: red
}

*.icon-blue {
    color: blue
}

*.icon-d-green {
    color: #24a413
}

*.icon-orange {
    color: #f59714
}
*.icon-gray {
    color: #626363
}

.custom-blue-navbar {
    background-color: #0046be;
}


.marketplace-section h4 {
    color: #0046be;
}

.icon-box {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.icon-box i {
    font-size: 1.5rem;
    color: #0046be;
}

ul.custom-list li {
    margin-bottom: 0.5rem;
}

.marketplace-hero {
    background: url('/images/marketplace-hero.jpg') no-repeat center center;
    background-size: cover;
    height: 350px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 768px) {
    /*  small screen  */
    div.full-details {
        display: none
    }

    div.less-details {
        display: block
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*  Md screen  */
    div.less-details {
        display: none
    }

    div.full-details {
        display: block
    }
}

@media screen and (min-width: 1024px) {
    /*  Lg screen  */
    div.less-details {
        display: none
    }

    div.full-details {
        display: block
    }
}

.login {
    min-height: 100vh;
}

.bg-image {
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.gradient-custom-2 {
    /* fallback for old browsers */
    /*background: #fccb90;*/

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    background: linear-gradient(to right, #003366, #004080, #0059b3, #0066cc);

    /*!* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    /*background: linear-gradient(to right, #aec30f, #82a815, #51be37, #45be72, #12aa4a);*/

}

#e663a3

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }

    h4 {
        font-family: 'Great Vibes', cursive;
        color: #2bb970;
    }


}

.gradient-custom-blue {
    /* fallback for old browsers */
    background: #003366;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #003366, #004080, #0059b3, #0066cc);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #003366, #004080, #0059b3, #0066cc);
}
.gradient-custom-blue-gold {
    background: #0a0f2c;

    background: -webkit-linear-gradient(to right, #0a0f2c, #11225a, #1f2f8b, #2b3ca1, #c49b0b);
    background: linear-gradient(to right, #0a0f2c, #11225a, #1f2f8b, #2b3ca1, #c49b0b);
}
.gradient-custom-blue-silver {
    background: #0a0f2c;

    background: -webkit-linear-gradient(to right, #0a0f2c, #11225a, #1f2f8b, #2b3ca1, #c0c0c0);
    background: linear-gradient(to right, #0a0f2c, #11225a, #1f2f8b, #2b3ca1, #c0c0c0);
}
.gradient-custom-blue-clean {
    /* fallback */
    background: #0b1a2c;

    /* WebKit (Safari/Chrome) */
    background: -webkit-linear-gradient(to right, #0b1a2c, #12345b, #1a4a88, #2a69b8, #4c8fdc);

    /* W3C, IE10+, Firefox, Chrome, Edge */
    background: linear-gradient(to right, #0b1a2c, #12345b, #1a4a88, #2a69b8, #4c8fdc);
}

/*.custom-navbar {*/
/*    padding-top: 0.2rem;*/
/*    padding-bottom: 0.2rem;*/
/*    position: relative;*/
/*    height: 40px; !* ارتفاع ثابت للـ navbar *!*/
/*    padding-bottom: 60px;*/
/*}*/

/*.navbar-brand img {*/
/*    position: relative;*/
/*    top: -20px;   !* لو عايز تطلع الصورة لفوق *!*/
/*    height: 80px; !* حجم الصورة *!*/
/*    object-fit: scale-down;*/

/*}*/

