<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="content">



    <img  type="button"
         th:if="${#authorization.expression('isAuthenticated()')}"
         th:src="${#authentication.principal.getImagePath}" id="account" class="rounded-circle dropdown-toggle float-sm-end "  style="width:25px" alt="User" />
<!--    <span  th:if="${#authorization.expression('isAuthenticated()')}"  class="fas fa-user fa-2 icon-green fa-2x float-sm-end"></span>-->




</div>

</body>

</html>



