<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{support/fragments/standerd/header::content}"></head>



<body>

<div th:replace="~{support/fragments/navbar/navbar::content}"></div>
<h2 class="text-center">[[${pageTitle}]]</h2>
<div th:replace="~{support/fragments/standerd/search::content}"></div>

<div class="container-fluid">


    <form th:action="@{${saveChanges}}" th:object="${brand}" method="post"

          enctype="multipart/form-data" style="max-width: 7500px ; margin: 0 auto"

          onsubmit="return  checkUniqueName(this);">

        <input type="hidden" id="id" name="id" th:value="${id}"/>


        <div class="border border-secondary rounded p-3">


            <div class="input-group row">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{name}" required minlength="2"
                           placeholder="Please enter the Brand name" class="form-control col-4 mb-4"/>
                </div>
            </div>


            <div class="form row">
                <label class="col-sm-4 col-form-label">[[${label}]]</label>
                <div class="col-sm-8 ">
                    <input type="hidden" th:field="*{logo}"/>
                    <input class="mb-2" type="file" id="fileImage" name="fileImage"
                           accept="image/jpg, image/jpeg, image/png"/>

                    <div class="mb-2">

                        <img class="img-thumbnail rounded-circle float-left " id="thumbnail" style="width: 200px"
                             alt="Brand logo"
                             th:src="@{${brand.getImagePath}}"/>

                    </div>
                </div>


            </div>


            <div class="input-group row">
                <label class="col-sm-4 col-form-label">[[${label}]]</label>
                <div class="col-sm-8">
                    <select multiple id="categories" class="form-control " th:field="*{categories}"
                            style="resize: vertical; height: 200px">
                        <option value="0"> [No Parent]</option>

                        <th:block th:each="cat : ${listItems}">
                            <option th:value="${cat.id}"> [[${cat.name}]]</option>

                        </th:block>

                    </select>
                </div>
            </div>


            <div class="form-group row p-3">
                <label class="col-sm-4 col-form-label">Chosen categories:</label>
                <div class="col-sm-8">
                    <div id="chosenCategories"></div>
                </div>
            </div>

        </div>

        <div th:replace="~{support/fragments/standerd/save-and-rest-button::content}"></div>

    </form>
</div>




<div th:replace="~{support/fragments::modal}"></div>

<div th:replace="~{support/fragments/standerd/footer::content}"></div>
<script>
    Max_File_Size = 1042000;
    const windowLocationValue = `[[@{${name}}]]`;
    const url = "[[@{'/check_unique_name'}]]";

</script>

<script type="text/javascript" th:src="@{/js/commonCat.js}"></script>


<script>$j = jQuery.noConflict();

var $ = jQuery; </script>

<script type="text/javascript">

    $(document).ready(function () {

        dropdownCategories = $("#categories");
        divChosenCategories = $("#chosenCategories");

        dropdownCategories.change(function () {
            divChosenCategories.empty();
            showChosenCategories();

        });

        function showChosenCategories() {
            dropdownCategories.children("option:selected").each(function () {
                selectedCategory = $(this);
                catId = selectedCategory.val();
                catName = selectedCategory.text().replace(/-/g, "");
                divChosenCategories.append("<span class='badge rounded-pill bg-secondary'>" + catName + "</span>");

            });
        }
    });


</script>
</body>


</html>