<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{supports/header/header::content}"></head>
<body>


<div th:replace="~{supports/navbar/navbar::content}"></div>>

<form th:action="@{/rest_password}" method="post"
      style="max-width: 420px; margin: 0 auto">
    <input type="hidden" th:value="${token}" name="token" />
    <div class="border border-secondary rounded p-3">
        <div>
            <p>
                <input type="password" name="password" id="Password"
                       placeholder="Enter your new password" class="form-control"
                       minlength="2" maxlength="15" required autofocus />
            </p>
        </div>

        <div>
            <p>
                <input type="password" name="confirmPassword" id="confirmPassword"
                       placeholder="Confirm your new password" class="form-control"
                       minlength="2" maxlength="15" required
                       oninput="checkPasswordMatch(this)" />
            </p>
        </div>
        <div>
            <input type="submit" value="Change Password"
                   class="btn btn-primary" />
        </div>
    </div>
</form>


<div th:replace="~{supports/footer/footer_menu::content}"></div>

<script type="text/javascript">


    function checkPasswordMatch(confirmPassword) {

        if (confirmPassword.value !== $("#Password").val()) {
            confirmPassword.setCustomValidity("Password Not Match")
        } else {
            confirmPassword.setCustomValidity("");

        }
    }
</script>


</body>
</html>