

<th th:fragment="contant (fieldName, columnLable)">
    <a
            th:href="@{${moduleURL}+ ${currentPage}+'?sortField='+${fieldName}+'&sortDir='
                            +${sortField!= fieldName? sortDir: reverseSortDir} + ${keyWord!=null ?
                            '&keyWord='+ keyWord: ' '}}"  class="text-white " >
        [[${columnLable}]]
    </a>

    <span th:if="${sortField== fieldName}"
          th:class="${sortDir=='asc'? 'fas fa-sort-up': 'fas fa-sort-down'}"></span>
</th>


