<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{support/fragments/standerd/header::content}"></head>


<body>


<div th:replace="~{support/fragments/navbar/navbar::content}"></div>



<div class="container ">

    <h2  class="text-center">[[${pageTitle}]]</h2>

    <form  th:action="@{${saveChanges}}" th:object="${user}" method="post"

           enctype="multipart/form-data" style="max-width: 7500px ; margin: 0 auto"
           onsubmit="return checkDuplicateEmail(this);">
        <input type="hidden"  id="id" name="id"  th:value="${id}"  />
        <div>
            <div class="form-text rounded-3">
        <input type="text" th:field="*{firstName}" required minlength="2" placeholder="enter first name"  class="form-control col-4 mb-4"/>
        <input type="text" th:field="*{lastName}"  placeholder="enter last name"  class="form-control col-2 mb-2" />
        <input type="text" th:field="*{email}"  placeholder="enter email" id="email"  class="form-control col-4 mb-4" />

        <input  type="password"  th:field="*{password}"
                ninput="checkPasswordMatch(document.getElementById(')"     id="Password" placeholder="enter your Password or leave Blank"  class="form-control col-2 mb-2" />


         <input  type="password"  id="confirmPassword"
                  oninput="checkPasswordMatch(this)" placeholder="confirm Password"  class="form-control col-2 mb-2" />


            </div>
        </div>




       <div class="checkboxes">
           <label class="col-sm-4 col-form-label">Roles</label>
           <div class="col-sm-8">
           <th:block th:each="role: ${listItems}">
               <input type="checkbox" th:field="*{roles}"
                      th:text="${role.name}"
                      th:value="${role.id}"
                      class="m-2"
                      />
                <small>[[${role.descrption}]]</small>
               <br/>
           </th:block>
          </div>
       </div>


        <div class="checkboxes">
            <label class="col-sm-4 col-form-label">Enable</label>
            <div class="col-sm-8 ">
                <input type="checkbox" th:field="*{enable}"/>
            </div>
        </div>

        <div class="form row" >
            <label class="col-sm-4 col-form-label">Photo</label>
            <div class="col-sm-8 ">
                <input class="mb-2 fileImage" type="file" id="fileImage" name="image" accept="image/jpg, image/jpeg, image/png"/>
                <img class="img-thumbnail rounded-circle float-left  thumbnail"   id="thumbnail" style="width: 200px" alt="user Photo"
                     th:src="@{${user.getImagePath()}}" />
            </div>
        </div>



      <div>
        <button class= "btn btn-primary " type="submit">Save</button>
        <button class= "btn btn-danger " type="reset"  id="buttonCancel">Rest</button>
      </div>

    </form>


    <div th:replace="~{support/fragments::modal}"></div>

</div>

<div th:replace="~{support/fragments/standerd/footer::content}"></div>




<script type="text/javascript" th:src="@{/js/common.js}" ></script>

<script>$j = jQuery.noConflict();

 var $ = jQuery; </script>

<script >
    const windowLocationValue = `[[@{${name}}]]`;

    var url = "[[@{/check_email}]]";
    Max_File_Size = 1042000;


</script>



</body>



</html>
