<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<!--<filter>-->
<!--    <filter-name>springSecurityFilterChain</filter-name>-->
<!--    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>-->
<!--</filter>-->

<!--<filter-mapping>-->
<!--    <filter-name>springSecurityFilterChain</filter-name>-->
<!--    <url-pattern>/*</url-pattern>-->
<!--</filter-mapping>-->
<!--<head>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title>Login </title>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}"/>
</head>

<body>

<section class=" gradient-form" style="background-color: #eee;">
    <div class="container  h-100"  >
        <div class="row d-flex justify-content-center align-items-center h-100" >
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img th:src="@{/images/rr.png}"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-4  Brush Script MT">We are The Group Link Team</h4>
                                    <h4 class="mb-4">  We are more than just a company</h4>
                                </div>
                                <div th:if="${param.error}">
                                    <p class="text-center text-danger" >[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                                </div>
                                <div class="text-center text-danger" th:if="${param.logout}">
                                    You have been logged out.
                                </div>
                                <form th:action="@{/login}" method="post">
                                    <p>Please login to your account</p>

                                        <div class="form-outline mb-4">
                                            <input type="email" name="email" class="form-control" id="floatingInput" placeholder=" email address" />
                                            <label class="form-label" for="floatingPassword">Username</label>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                                            <label for="floatingPassword">Password</label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <p>
                                                <input name="remember-me" type="checkbox" />&nbsp;Remember password
                                            </p>
                                        </div>
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log
                                            in</button>
                                        <a class="text-muted" href="#!">Forgot password?</a>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Don't have an account?</p>
                                        <a th:href="@{'register/new-users-form'}" class="btn btn-outline-danger">Create new</a>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>