<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta  http-equiv="Content-Type" charset="UTF-8" content="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" >

    <title>Ehab</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.7.0/jquery.min.js}"> </script>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}" ></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}"/>


</head>

<body>

<div th:replace="~{fragments::navbar}"></div>

<div th:replace="~{fragments::search}"></div>



<form th:action="@{/deleteUsers}" method="post" id="deleteForm">


<div class=" justify-content-center mb-2 ">
          <button class="fas fa-user-minus fa-2x icon-red  " style="border: none; background: none;"  type="submit" title="Delete Selected Users"></button>

          <a th:href="@{/new-user-form}" class="fas fa-user-plus fa-2x icon-d-green"         title="Add User"  ></a>&nbsp;&nbsp;

          <a  class="fas fa-file-csv fa-2x icon-primary" th:href="@{/users/export/csv}"       title="Export to CSV"></a> &nbsp;&nbsp;

          <a class="fas fa-file-pdf fa-2x icon-red" th:href="@{/users/export/pdf}"            title="Export to PDF"></a> &nbsp;&nbsp;

          <a class="fas fa-file-excel fa-2x icon-d-green" th:href="@{/users/export/excel}"  title="Export to Excel"></a>&nbsp;&nbsp;
</div>



    <div th:if="${message != null}" class="alert alert-success text-center" >
        [[${message}]]
    </div>





      <div class="less-details ">
          <div tr th:each = "user: ${users}" class="row m-1" >

              <div class="col-4">
                  <span th:if="${user.user_bio == null}" class="fas fa-user  fa-fade fa-2x icon-golden "></span>
                  <img th:if="${user.user_bio != null}"  th:src="@{${user.getImagePath()}}" class="rounded mx-auto  d-block" style="width: 100px"  />
              </div>

              <div class="col-8">
                  <div> [[${user.getFullName}]]</div>
                  <div> [[${user.getRoles}]]</div>

                  <div class="m-1">
                      <a class="fas fa-edit px-2 icon-green"
                         th:href="@{'/edit/' + ${user.getId()}}"
                         title="Edit User"></a>


                  <a class="fas fa-trash px-2 icon-red delete-confirmation"
                         th:href="@{'/delete-user/' + ${user.getId()}}"
                         th:userId="${user.id}"

                         title="Delete User"></a>
                      &nbsp;

                      <a th:if="${user.isEnable() == true}" class="fas fa-check-circle px-2 icon-green "
                         th:href="@{'/user/' + ${user.getId()} +'/enable/false' } "
                         title="Disable User"></a>
                                                      &nbsp;
                      <a th:if="${user.isEnable() == false}" class="fas fa-circle px-2 icon-red"
                         th:href="@{'/user/' + ${user.getId()} +'/enable/true' }" title="Enable User"></a>


                  </div>
              </div>

          </div>
      </div>



 <div class="full-details">
    <table class="table table-responsive me-sm-1 table-header table-striped  table-bordered ">
             <thead class="table-dark " >
                  <tr>
                          <th>Select</th>

                          <th th:replace="~{fragments::colum_link ('id', 'User ID')}"></th>

                          <th> User Photo</th>

                          <th th:replace="~{fragments::colum_link ('firstName', 'First Name')}"></th>
                          <th th:replace="~{fragments::colum_link ('lastName', 'Last Name')}"></th>
                          <th th:replace="~{fragments::colum_link ('email', 'E-mail')}"></th>

                          <th>Roles</th>

                          <th th:replace="~{fragments::colum_link ('enable', 'Status')}"></th>
                          <th></th>
                          <th></th>
                  </tr>
             </thead>

             <tbody>


                         <tr th:each = "user: ${users}">
                    
                    
                              <td><input class="form-check-input " type="checkbox" name="selectedUsers" th:value="${user.id}" id="flexCheckDefault"></td>

                               <td th:text="${user.getId()}"></td>

                              <td>
                                  <span th:if="${user.user_bio == null}" class="fas fa-user  fa-fade fa-2x icon-golden "></span>
                                  <img th:if="${user.user_bio != null}"  th:src=" @{${user.getImagePath()}}" class="rounded mx-auto  d-block" style="width: 40px; height: 40px;"  />
                              </td>

                                  <td th:text="${user.getfirstName}"></td>
                                  <td th:text="${user.getLastName}"></td>
                                  <td th:text="${user.getEmail}"></td>
                                  <td th:text="${user.getRoles}"></td>


                                  <td >
                                      <a th:if="${user.isEnable == true}" class="fas fa-check-circle px-2 icon-green "
                                         th:href="@{'/user/' + ${user.getId} +'/enable/false' } "
                                        title="Disable User"></a>
<!--                                                      &nbsp;-->
                                      <a th:if="${user.isEnable() == false}" class="fas fa-circle px-2 icon-red"
                                         th:href="@{'/user/' + ${user.getId} +'/enable/true' }" title="Enable User"></a>

                                  </td>

                                  <td >
                                      <a class="fas fa-edit px-2 icon-green"
                                         th:href="@{'/edit/' + ${user.getId()}}"
                                            title="Edit User"></a>
                                  </td>



                              <td><a class="fas fa-trash px-2 icon-red delete-confirmation"
                                     th:href="@{'/delete-user/' + ${user.getId()}}"
                                     th:userId="${user.id}"

                                     title="Delete User"></a> </td>
                              </tr>
              </tbody>
    </table>
    </div>
    </form>
</div>



<nav aria-label="paginat"  class="text-center flex mb-1" >
    <div  th:if="${totalItems>0}" >
        <span class="align-content-end"> showing users # [[${startCont}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>
    <div  th:unless="${totalItems>0}" >
        <span> No Users Found</span>
    </div>

    <div  th:if="${totalPages>1}"   >




        <ul class="pagination justify-content-center flex-wrap" >

            <li class="page-item " th:classappend="${currentPage ==1 ?'disabled':''}">
                <a th:replace="~{fragments::page_link(1,'First')}" /></a>

            </li >

            <li class="page-item " th:classappend="${currentPage ==1 ?'disabled':''}">

                <a th:replace="~{fragments::page_link(${currentPage >= 2 ? (currentPage - 1) : 1}, 'Previous')}"></a>

            </li>

            <li class="page-item"  th:each="i :${#numbers.sequence(1,totalPages)} " th:classappend="${currentPage ==i ?'active':''}">

                <a th:replace="~{fragments::page_link(${i}, ${i})}" /></a>

            </li>

            <li class="page-item" th:classappend="${currentPage ==totalPages ?'disabled':''}">

                <a th:replace="~{fragments::page_link(${currentPage >= totalPages ? totalPages : (currentPage + 1)}, 'Next')}"></a>

            </li>

            <li class="page-item" th:classappend="${currentPage ==totalPages ?'disabled':''}">
                <a th:replace="~{fragments::page_link(${totalPages}, 'Last')}" /></a>


            </li>

        </ul>



    </div>
</nav>








<div class="modal fade text-center" data-bs-toggle="modal" id ="confirmModal" data-bs-target="#modalDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id ="modalTitle"> Alert Message Box </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="modalBody"></span>
                <p></p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success"  href="" id="yesbutton">yes</a>


                <button type="close" class="btn btn-danger" data-dismiss="modal">no</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments::footer}"></div>

<script type="text/javascript" th:src="@{/js/common.js}" ></script>


</body>
</html>