<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="content" th:remove="tag">


    <div id="trackList">
        <th:block th:each="track, status : ${order.orderTracks}">
            <div class="row border rounded p-1"
                 th:id="'rowTrack' + ${status.count}"
                 th:with="isTrackWithStatusNew = ${track.status.toString() == 'NEW'}">


                <input class="hiddenTrackId" name="trackId" th:value="${track.id}"
                       type="hidden"/>


                <div class="col-2">
                    <div class="divCountTrack">[[${status.count}]]</div>

                    <th:block th:if="${!isTrackWithStatusNew}">
                        <div class="mt-1">
                            <a class="fas fa-trash icon-dark linkRemoveTrack" href=""
                               th:rowNumber="${status.count}"></a>
                        </div>
                    </th:block>
                </div>

                <div class="col-10">
                    <div class="form-group row">
                        <label class="col-form-label">Time:</label>

                        <div class="col">
                            <input class="form-control" name="trackDate"
                                   style="max-width: 300px" th:readonly="${isTrackWithStatusNew}"
                                   th:required="${!isTrackWithStatusNew}"
                                   th:value="${track.updatedTimeOnForm}" type="datetime-local"/>
                        </div>


                    </div>

                    <div class="form-group row">
                        <label class="col-form-label">Status:</label>
                        <div class="col">
                            <th:block th:if="${isTrackWithStatusNew}">
                                <input name="trackStatus" type="hidden" value="NEW"/>

                            </th:block>

                            <select class="form-control dropDownStatus" name="trackStatus"
                                    required style="max-width: 150px"
                                    th:disabled="${isTrackWithStatusNew}"
                                    th:id="${isTrackWithStatusNew ? 'trackStatusOptions' : ''}"
                                    th:rowNumber="${status.count}">


                                <th:block th:each="os : ${T(com.onlineStoreCom.entity.order.OrderStatus).values()}">

                                    <option th:selected="${os.name == track.status.name()}" th:text="${os.name()}"
                                            th:value="${os.name()}">

                                    </option>
                                </th:block>

                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label">Notes:</label>
                        <div class="col">
                            <textarea class="form-control" cols="10" name="trackNotes"
                                      rows="2" style="max-width: 300px"
                                      th:attr="readonly=${isTrackWithStatusNew} ? 'readonly' : null, required=${!isTrackWithStatusNew} ? 'required' : null"
                                      th:id="'trackNote' + ${status.count}">
								[[${track.notes}]]</textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" th:id="'emptyLine' + ${status.count}">&nbsp;</div>
        </th:block>
    </div>

    <button class="btn btn-success mt-3" id="linkAddTrack">Add Track Record</button>
</div>

</body>
</html>