<!-- file: fragments/sortDropdown.html -->
<!— Fragment for sorting dropdown —>
<div th:fragment="sort_dropdown(modelUrl, currentPage, sortField, sortDir, keyWord)"
     class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4 position-relative">

    <label class="me-2">Sort by:</label>

    <div class="dropdown">
        <button class="border-0 form-select-sm bg-light dropdown-toggle"

                type="button" id="sortDropdown"
                data-bs-toggle="dropdown" aria-expanded="false">
                 <span >Default Sorting</span>

        </button>

        <ul class="dropdown-menu  " aria-labelledby="sortDropdown">

        <li th:replace="~{supports/sortAndSearchDrop/sort_drop_menu::colum_link  ('name', 'Name')}"></li>
        <li th:replace="~{supports/sortAndSearchDrop/sort_drop_menu::colum_link ('brand', 'Brand')}"></li>
        <li th:replace="~{supports/sortAndSearchDrop/sort_drop_menu::colum_link ('category', 'Category')}"></li>
<!--        <li th:replace="~{supports/sortAndSearchDrop/sort_drop_menu::colum_link ('price', 'price')}"></li>-->







        </ul>
    </div>
</div>

<li th:fragment="colum_link (fieldName, columnLable)">
    <a th:href="@{${modelUrl}+ ${currentPage}+'?sortField='+${fieldName}+'&sortDir='
                            +${sortField!= fieldName? sortDir: reverseSortDir} + ${keyWord!=null ?
                            '&keyWord='+ keyWord: ''}}"  class="text-dark-emphasis " >
        [[${columnLable}]]
    </a>

    <span th:if="${sortField== fieldName}"
          th:class="${sortDir=='asc'? 'fas fa-sort-up': 'fas fa-sort-down'}"></span>
</li>


<div th:replace="~{supports/sortAndSearchDrop/sort_drop_menu :: sort_dropdown(
                ${modelUrl}, ${currentPage}, ${sortField}, ${sortDir}, ${keyWord})}">
</div>

