<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{support/fragments/standerd/header::content}"></head>


<body>


<div th:replace="~{support/fragments/standerd/navbar/navbar::content}"></div>
<h2 class="text-center">[[${pageTitle}]]</h2>
<div th:replace="~{support/fragments/standerd/search::content}"></div>


<form th:action="@{/delete-Products}" method="post" id="deleteForm">

    <div class=" justify-content-center mb-2 mt-2 ">
        <button class="fas fa-user-minus fa-2x icon-red " style="border: none; background: none;" type="submit"
                title="Delete Selected brands"></button>

        <a th:href="@{/products/new-products-form}" class="fas fa-user-plus fa-2x icon-d-green" title="Add brand"></a>&nbsp;&nbsp;

        <a class="fas fa-file-csv fa-2x icon-primary" th:href="@{/brands/export/csv}" title="Export to CSV"></a> &nbsp;&nbsp;

        <a class="fas fa-file-pdf fa-2x icon-red" th:href="@{/brands/export/pdf}" title="Export to PDF"></a> &nbsp;&nbsp;

        <a class="fas fa-file-excel fa-2x icon-d-green" th:href="@{/brands/export/excel}" title="Export to Excel"></a>&nbsp;&nbsp;
    </div>


    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>


    <div class="full-details  less-details">
        <table class="table table-responsive me-sm-1 table-header table-striped  table-bordered ">
            <thead class="table-dark ">
            <tr>

                <th>Select</th>

                <th th:replace="~{support/fragments::colum_link('id', 'ID')}"></th>

                <th th:replace="~{support/fragments::colum_link('mainImage', 'Main Image')}"></th>


                <th th:replace="~{support/fragments::colum_link('name', 'Name')}"></th>


                <th th:replace="~{support/fragments::colum_link('brand', 'Brand')}"></th>
                <th th:replace="~{support/fragments::colum_link('category', 'Category')}"></th>
                <th>Enable</th>
                <th>View | Edit</th>
                <th>Delete</th>

            </tr>
            </thead>

            <tbody>
            <tr th:each="product: ${products}">


                <td>
                    <input class="form-check-input delete-checkbox " type="checkbox" name="selectedForDelete"
                           th:value="${product.id}" id="flexCheckDefault">
                </td>


                <td th:text="${product.id}"></td>


                <td>
                    <span th:if="${product.mainImage == null}" class="fas fa-user  fa-fade fa-2x icon-golden "></span>
                    <img th:if="${product.mainImage != null && !product.mainImage.isEmpty() }"
                         th:src=" @{${product.getImagePath()}}" class="rounded mx-auto  d-block"
                         style="width: 40px; height: 40px;"/>
                </td>


                <td><a class="link-detail"
                       th:href="@{'/products/detail/' + ${product.id}}"
                       th:title="${product.name}">[[${product.name}]]</a></td>


                <td>
                     <span class="badge rounded-pill bg-secondary" >[[${product.brand.name}]]</span>
                </td>

                <td>
                        <span class="badge rounded-pill bg-secondary" >[[${product.category.name}]]</span>
                </td>

                <td>
                    <div
                            th:replace="~{support/fragments:: status(${product.isEnable}, 'product', '/products/' + ${product.getId})}"></div>
                </td>


                <td><a class="fas fa-file-alt fa-2x icon-green link-detail"
                       th:href="@{'/products/detail/' + ${product.id}}"
                       title="View details of this product"></a>

                    <a class="fas fa-edit fa-2x icon-green"
                       th:href="@{'/products/edit/' + ${product.getId()}}"
                       title="Edit Product"></a>
                </td>


                <td><a class="fas fa-trash fa-2x icon-red delete-confirmation"
                       th:href="@{'/products/delete-product/' + ${product.getId()}}"
                       th:id="${product.id}"

                       title="Delete Product"></a></td>
            </tr>

            </tbody>

        </table>

    </div>
</form>
<div  th:replace="~{support/fragments/standerd/paginate::content}"></div>


<div  th:replace="~{support/fragments/standerd/modal::content}"></div>

 <div th:replace="~{support/fragments/standerd/footer::content}"></div>

<div  th:replace="~{support/fragments/standerd/modal-dialog::content}"></div>










<script th:src="@{/js/commonCat.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/products}]]";

    $(document).ready(function () {


        $(".link-detail").on("click", function (e) {
            e.preventDefault();


            linkDetailURL = $(this).attr("href");

          // alert(linkDetailURL);
           $("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
        });



    });
</script>




</body>

</html>