<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{support/fragments/standerd/header::content}"></head>


<body>


<div th:replace="~{support/fragments/navbar/navbar::content}"></div>
<h2 class="text-center">[[${pageTitle}]]</h2>

<div th:replace="~{support/fragments/standerd/search::content}"></div>


<div class="alert alert-success text-center" th:if="${message != null}">
    [[${message}]]
</div>


<div class="container-fluid">

    <div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item" role="presentation">
                <button class="nav-link " data-bs-target="#general" data-bs-toggle="tab" id="general-tab"
                        role="tab" type="button">General
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-target="#countries" data-bs-toggle="tab" id="countries-tab"
                        role="tab" type="button">Countries
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-target="#states" data-bs-toggle="tab" id="states-tab"
                        role="tab" type="button">States
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-target="#mail-server" data-bs-toggle="tab" id="mail-server-tab"
                        role="tab" type="button">Mail Server
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-target="#mail-template" data-bs-toggle="tab"
                        id="mail-template-tab"
                        role="tab" type="button">
                    Mail Template
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link " data-bs-target="#payment-template" data-bs-toggle="tab"
                        id="payment-template-tab"
                        role="tab" type="button">
                    payment Template
                </button>
            </li>


        </ul>

        <!-- Tab panes -->
        <div class="tab-content mt-3">

            <div class="tab-pane " id="general" role="tabpanel">
                <div th:replace="~{settings/fregment-edit/general-fregment::content}"></div>
            </div>

            <div class="tab-pane" id="countries" role="tabpanel">
                <div th:replace="~{settings/fregment-edit/countries-fregment::content}"></div>
            </div>

            <div class="tab-pane" id="states" role="tabpanel">
                <div th:replace="~{settings/fregment-edit/states-fregment::content}"></div>
            </div>

            <div aria-required="false" class="tab-pane" id="mail-server" role="tabpanel">
                <div th:replace="~{settings/fregment-edit/mail-server-fregment::content}"></div>
            </div>

            <div class="tab-pane active" id="mail-template" role="tabpanel">
                <div th:replace="~{settings/fregment-edit/mail-templates-fregment::content}"></div>
            </div>

            <div class="tab-pane " id="payment-template" role="tabpanel">
                <div th:replace="~{settings/fregment-edit/sitting-template/payment::content}"></div>
            </div>

        </div>
    </div>
</div>


<div aria-atomic="true" aria-live="polite"
     class="toast justify-content-center d-flex " data-delay="3000" role="alert">
    <div aria-atomic="true" aria-live="assertive" role="alert">
        <div class="toast-body">
            <span id="toastMessage"></span>
        </div>
    </div>
</div>

<div th:replace="~{support/fragments/standerd/footer::content}"></div>


<script th:src="@{/js/countries_setting.js}" type="text/javascript"></script>
<script th:src="@{/js/states_setting.js}" type="text/javascript"></script>

<script type="text/javascript">
    contextPath = "[[@{/}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";
    customer_confirmation_tempate = $("#customerConfirmationContent")
    order_confirmation_email_tempate = $("#orderConfirmationContent")


    $(document).ready(function () {
        customer_confirmation_tempate.richText();
        order_confirmation_email_tempate.richText();
    });


</script>

</body>
</html>