<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{support/fragments/standard/layout/header :: content}"></head>

<body>
<div class="container-fluid">
    <div th:replace="~{support/fragments/navbar/navbar :: content}"></div>

    <div class="text-center">
        <h2>Theme Settings</h2>
    </div>

    <div class="row">
        <!-- Settings Panel -->
        <div class="col-lg-6 mb-4">
            <form id="themeForm" method="post" th:action="@{/settings/themes/save}">
                <div class="alert alert-success text-center" th:if="${message != null}">
                    [[${message}]]
                </div>

                <div class="card shadow-sm">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="themeTabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" data-bs-target="#colors" data-bs-toggle="tab"
                                        id="colors-tab" role="tab" type="button">Colors
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" data-bs-target="#dimensions" data-bs-toggle="tab"
                                        id="dimensions-tab" role="tab" type="button">Dimensions
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" data-bs-target="#typography" data-bs-toggle="tab"
                                        id="typography-tab" role="tab" type="button">Typography
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="themeTabsContent">
                            <!-- Colors Tab -->
                            <div class="tab-pane fade show active" id="colors" role="tabpanel">
                                <h5 class="card-title text-secondary mb-3">Brand Colors</h5>
                                <div class="form-group row mb-2">
                                    <label class="col-sm-5 col-form-label">Primary Color:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control form-control-color theme-input" data-var="--preview-primary"
                                               name="THEME_COLOR_PRIMARY" th:value="${THEME_COLOR_PRIMARY}"
                                               type="color">
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <label class="col-sm-5 col-form-label">Secondary Color:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control form-control-color theme-input" data-var="--preview-secondary"
                                               name="THEME_COLOR_SECONDARY" th:value="${THEME_COLOR_SECONDARY}"
                                               type="color">
                                    </div>
                                </div>

                                <hr class="my-3">
                                <h5 class="card-title text-secondary mb-3">Header & Footer</h5>
                                <div class="form-group row mb-2">
                                    <label class="col-sm-5 col-form-label">Header BG:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control form-control-color theme-input" data-var="--preview-header-bg"
                                               name="THEME_HEADER_BG" th:value="${THEME_HEADER_BG}"
                                               type="color">
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <label class="col-sm-5 col-form-label">Header Text:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control form-control-color theme-input" data-var="--preview-header-color"
                                               name="THEME_HEADER_COLOR" th:value="${THEME_HEADER_COLOR}"
                                               type="color">
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <label class="col-sm-5 col-form-label">Footer BG:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control form-control-color theme-input" data-var="--preview-footer-bg"
                                               name="THEME_FOOTER_BG" th:value="${THEME_FOOTER_BG}"
                                               type="color">
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <label class="col-sm-5 col-form-label">Footer Text:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control form-control-color theme-input" data-var="--preview-footer-color"
                                               name="THEME_FOOTER_COLOR" th:value="${THEME_FOOTER_COLOR}"
                                               type="color">
                                    </div>
                                </div>

                                <hr class="my-3">
                                <h5 class="card-title text-secondary mb-3">Header Dropdown</h5>
                                <div class="form-group row mb-2">
                                    <label class="col-sm-5 col-form-label">Dropdown BG:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control form-control-color theme-input" data-var="--preview-dropdown-bg"
                                               name="THEME_HEADER_DROPDOWN_BG" th:value="${THEME_HEADER_DROPDOWN_BG}"
                                               type="color">
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <label class="col-sm-5 col-form-label">Dropdown Text:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control form-control-color theme-input" data-var="--preview-dropdown-color"
                                               name="THEME_HEADER_DROPDOWN_COLOR"
                                               th:value="${THEME_HEADER_DROPDOWN_COLOR}"
                                               type="color">
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <label class="col-sm-5 col-form-label">Hover BG:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control form-control-color theme-input" data-var="--preview-dropdown-hover-bg"
                                               name="THEME_HEADER_DROPDOWN_HOVER_BG"
                                               th:value="${THEME_HEADER_DROPDOWN_HOVER_BG}"
                                               type="color">
                                    </div>
                                </div>

                                <hr class="my-3">
                                <h5 class="card-title text-secondary mb-3">Tables</h5>
                                <div class="form-group row mb-2">
                                    <label class="col-sm-5 col-form-label">Header BG:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control form-control-color theme-input" data-var="--preview-table-header-bg"
                                               name="THEME_TABLE_HEADER_BG" th:value="${THEME_TABLE_HEADER_BG}"
                                               type="color">
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <label class="col-sm-5 col-form-label">Header Text:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control form-control-color theme-input" data-var="--preview-table-header-color"
                                               name="THEME_TABLE_HEADER_COLOR" th:value="${THEME_TABLE_HEADER_COLOR}"
                                               type="color">
                                    </div>
                                </div>
                            </div>

                            <!-- Dimensions Tab -->
                            <div class="tab-pane fade" id="dimensions" role="tabpanel">
                                <div class="form-group row mb-3">
                                    <label class="col-sm-5 col-form-label">Header Height:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control theme-input" data-var="--preview-header-height"
                                               name="THEME_HEADER_HEIGHT" placeholder="e.g. 100px"
                                               th:value="${THEME_HEADER_HEIGHT}" type="text">
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-sm-5 col-form-label">Footer Height:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control theme-input" data-var="--preview-footer-height"
                                               name="THEME_FOOTER_HEIGHT" placeholder="e.g. auto or 60px"
                                               th:value="${THEME_FOOTER_HEIGHT}" type="text">
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-sm-5 col-form-label">Logo Width:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control theme-input" data-var="--preview-logo-width" name="THEME_LOGO_WIDTH"
                                               placeholder="e.g. 100px" th:value="${THEME_LOGO_WIDTH}"
                                               type="text">
                                    </div>
                                </div>
                            </div>

                            <!-- Typography Tab -->
                            <div class="tab-pane fade" id="typography" role="tabpanel">
                                <div class="form-group row mb-3">
                                    <label class="col-sm-5 col-form-label">Font Family:</label>
                                    <div class="col-sm-7">
                                        <select class="form-control theme-input" data-var="--preview-font-family"
                                                name="THEME_FONT_FAMILY" th:value="${THEME_FONT_FAMILY}">
                                            <option th:selected="${THEME_FONT_FAMILY == 'Arial, sans-serif'}"
                                                    value="Arial, sans-serif">Arial
                                            </option>
                                            <option th:selected="${THEME_FONT_FAMILY == '''Courier New'', monospace'}"
                                                    value="'Courier New', monospace">
                                                Courier New
                                            </option>
                                            <option th:selected="${THEME_FONT_FAMILY == '''Georgia'', serif'}"
                                                    value="'Georgia', serif">Georgia
                                            </option>
                                            <option th:selected="${THEME_FONT_FAMILY == '''Tahoma'', sans-serif'}"
                                                    value="'Tahoma', sans-serif">
                                                Tahoma
                                            </option>
                                            <option th:selected="${THEME_FONT_FAMILY == '''Verdana'', sans-serif'}"
                                                    value="'Verdana', sans-serif">
                                                Verdana
                                            </option>
                                            <option th:selected="${THEME_FONT_FAMILY == '''Roboto'', sans-serif'}"
                                                    value="'Roboto', sans-serif">
                                                Roboto (Google)
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-sm-5 col-form-label">Base Font Size:</label>
                                    <div class="col-sm-7">
                                        <input class="form-control theme-input" data-var="--preview-font-size" name="THEME_FONT_SIZE"
                                               placeholder="e.g. 16px" th:value="${THEME_FONT_SIZE}"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center mt-4">
                            <input class="btn btn-primary btn-lg px-5" type="submit" value="Save Changes">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Preview Panel (Sticky) -->
        <div class="col-lg-6">
            <!-- Adjusted top to 80px to avoid overlapping with main navbar, z-index 99 to be below dropdowns -->
            <div class="sticky-top" style="top: 80px; z-index: 90;">
                <div class="card shadow">
                    <div class="card-header bg-secondary text-white py-2">
                        <i class="fas fa-eye me-2"></i> Live Preview
                    </div>
                    <div class="card-body p-0">
                        <!-- Live Preview Frame -->
                        <div class="border rounded" id="preview-frame"
                             style="overflow: hidden; height: 350px; display: flex; flex-direction: column;">

                            <!-- Mock Header -->
                            <div class="d-flex align-items-center px-3" id="preview-header"
                                 style="transition: all 0.3s;">
                                <div class="me-3">
                                    <div
                                            style="background: #ccc; width: 50px; height: 50px; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                                        LOGO
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <span class="preview-nav-item mx-2">Users</span>
                                    <span class="preview-nav-item mx-2 dropdown-toggle">Products</span>
                                </div>
                                <div>User <i class="fas fa-user-circle"></i></div>
                            </div>

                            <!-- Mock Content -->
                            <div class="p-4 flex-grow-1 bg-light" id="preview-content" style="overflow-y: auto;">
                                <h3 class="mb-3">Dashboard Overview</h3>
                                <p class="mb-3">This is how your content will look with the selected typography.</p>

                                <button class="btn btn-primary mb-3">Primary Button</button>
                                <button class="btn btn-secondary mb-3">Secondary Button</button>

                                <table class="table table-bordered mt-3">
                                    <thead>
                                    <tr id="preview-table-header">
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Test Item</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Another Item</td>
                                        <td>Pending</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <!-- Mock Dropdown (Visual only) -->
                                <div class="position-absolute shadow rounded p-2" id="preview-dropdown"
                                     style="top: 60px; left: 650px; display: block; width: 150px;">
                                    <div class="preview-dropdown-item p-1">Dropdown Link 1</div>
                                    <div class="preview-dropdown-item p-1">Dropdown Link 2</div>
                                    <div class="preview-dropdown-item p-1">Dropdown Link 3</div>
                                </div>
                            </div>

                            <!-- Mock Footer -->
                            <div class="text-center d-flex align-items-center justify-content-center"
                                 id="preview-footer"
                                 style="transition: all 0.3s;">
                                <small>Copyright © 2025 Company Name</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted text-center" style="font-size: 0.8rem;">
                        Visualization only. Layout may vary on actual pages.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const inputs = document.querySelectorAll('.theme-input');
            const previewFrame = document.getElementById('preview-frame');
            const pHeader = document.getElementById('preview-header');
            const pFooter = document.getElementById('preview-footer');
            const pTableHead = document.getElementById('preview-table-header');
            const pDropdown = document.getElementById('preview-dropdown');
            const pContent = document.getElementById('preview-content');

            function updatePreview() {
                inputs.forEach(input => {
                    const val = input.value;
                    const name = input.name;

                    // Map inputs to preview styles
                    if (name === 'THEME_HEADER_BG') pHeader.style.backgroundColor = val;
                    if (name === 'THEME_HEADER_COLOR') {
                        pHeader.style.color = val;
                        pHeader.querySelectorAll('.preview-nav-item').forEach(el => el.style.color = val);
                    }
                    if (name === 'THEME_HEADER_HEIGHT') pHeader.style.minHeight = val;

                    if (name === 'THEME_FOOTER_BG') pFooter.style.backgroundColor = val;
                    if (name === 'THEME_FOOTER_COLOR') pFooter.style.color = val;
                    if (name === 'THEME_FOOTER_HEIGHT') pFooter.style.minHeight = (val === 'auto' ? '60px' : val);

                    if (name === 'THEME_TABLE_HEADER_BG') pTableHead.style.backgroundColor = val;
                    if (name === 'THEME_TABLE_HEADER_COLOR') pTableHead.style.color = val;

                    // Fake applied table header styles to cells (since tr background doesn't inherit cleanly to th in bootstrap without css)
                    if (name === 'THEME_TABLE_HEADER_BG') {
                        pTableHead.querySelectorAll('th').forEach(th => th.style.backgroundColor = val);
                    }
                    if (name === 'THEME_TABLE_HEADER_COLOR') {
                        pTableHead.querySelectorAll('th').forEach(th => th.style.color = val);
                    }

                    if (name === 'THEME_HEADER_DROPDOWN_BG') pDropdown.style.backgroundColor = val;
                    if (name === 'THEME_HEADER_DROPDOWN_COLOR') {
                        pDropdown.querySelectorAll('.preview-dropdown-item').forEach(el => el.style.color = val);
                    }

                    if (name === 'THEME_FONT_FAMILY') pContent.style.fontFamily = val;
                    if (name === 'THEME_FONT_SIZE') pContent.style.fontSize = val;

                    // Logo width simulation
                    if (name === 'THEME_LOGO_WIDTH') {
                        // Assuming mock logo div
                        pHeader.querySelector('div > div').style.width = (parseInt(val) > 20 ? (parseInt(val) / 2) + 'px' : val); // Scale down for mini preview
                    }
                });
            }

            inputs.forEach(input => {
                input.addEventListener('input', updatePreview);
                input.addEventListener('change', updatePreview);
            });

            // Initial run
            updatePreview();
        });
    </script>

    <div th:replace="~{support/fragments/standard/layout_fragments :: footer}"></div>
</div>
</body>

</html>