<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta  http-equiv="Content-Type" charset="UTF-8" content="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" >

    <title>403</title>


</head>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.7.0/jquery.min.js}"> </script>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}" ></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}"/>


<body>


<!--===============================================================================-->
<!--                                 colum_link             -->

<!--===============================================================================-->

      <th th:fragment="colum_link (fieldName, columnLable)">
            <a
                    th:href="@{${modelUrl}+ ${currentPage}+'?sortFiled='+${fieldName}+'&sortDir='
                            +${sortFiled!= fieldName? sortDir: reverseSortDir} + ${keyWord!=null ?
                            '&keyWord='+ keyWord: ' '}}"  class="text-white " >
                       [[${columnLable}]]
            </a>

            <span th:if="${sortFiled== fieldName}"
                  th:class="${sortDir=='asc'? 'fas fa-sort-up': 'fas fa-sort-down'}"></span>
      </th>


<!--===============================================================================-->
<!--                                Product colum_link             -->

<!--===============================================================================-->

<th th:fragment="colum_link_product (fieldName, columnLable)">
    <a
            th:href="@{${modelUrl}+ ${currentPage}+'?sortFiled='+${fieldName}+'&sortDir='
                            +${sortFiled!= fieldName? sortDir: reverseSortDir} + ${keyWord!=null ?
                            '&keyWord='+ keyWord: ' '}}"  class="text-white " >
        [[${columnLable}]]
    </a>

    <span th:if="${sortFiled== fieldName}"
          th:class="${sortDir=='asc'? 'fas fa-sort-up': 'fas fa-sort-down'}"></span>
</th>



<!--===============================================================================-->
<!--                                 message          -->

<!--===============================================================================-->

<div th:fragment="message">

    <div class="alert alert-success text-center" >
        [[${message}]]
    </div>

</div>


<!--===============================================================================-->

<!--               page_link      -->

<!--===============================================================================-->


       <a   th:fragment="page_link(pageNum,label)"     class="page-link"
            th:href="@{${modelUrl}+ ${pageNum} +'?sortFiled='+${sortFiled} +'&sortDir='+ ${sortDir} + ${keyWord!=null ?
             '&keyWord='+ keyWord: ' '}}" >[[${label}]]
       </a>



<!--===============================================================================-->

                          <!--Nav bar item link -->
<!--===============================================================================-->

//   //  sec:authorize="hasAnyAuthority('


      <li   th:fragment="nav-link(fieldName,label)">

<!--            class="nav-item mx-n0 "  sec:authorize="hasAuthority('Admin')">-->

          <a class="nav-link" th:href="@{'/' + ${fieldName}}">[[${label}]]</a>
      </li>



<!--===============================================================================-->

<!--Nav bar item link -->
<!--===============================================================================-->

//   //  sec:authorize="hasAnyAuthority('


<div  th:fragment="nav-linkV2(fieldName,label)"

      class="nav-item mx-n0 "  sec:authorize="hasAuthority('Admin')">

    <a class="nav-link" th:href="@{'/' + ${fieldName}}">[[${label}]]</a>
</div>


<!--===============================================================================-->
      <button  th:fragment="navbar-toggler"

               class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
          <span class="navbar-toggler-icon "></span>
      </button>
<!--===============================================================================-->
<!--                   Page Header with navbar -->

<!--===============================================================================-->

      <div      th:fragment="navbar" >



          <nav class="navbar  navbar-expand-md bg-dark navbar-dark ">
               <div class="container-fluid ">

                   <a class="navbar-brand " th:href="@{/}">
                  <img class="rounded-pill" alt="SITE LOGO" style="width: 150px; height: 150px; object-fit: contain; background-color: transparent; " th:src="@{/images/rr.png}"/>
              </a>

              <button th:replace="~{support/fragments::navbar-toggler}"></button>

              <div class="collapse navbar-collapse  "  id="topNavbar">
                  <ul class="navbar-nav ">
                      <li th:replace="~{support/fragments::nav-link('users/users','Users')}"></li>
                      <li th:replace="~{support/fragments::nav-link('users/new-users-form','New Users')}"></li>

                      <li th:replace="~{support/fragments::nav-link('customer/customer','customer')}"></li>
                      <li th:replace="~{support/fragments::nav-link('customer/new-customer-form','New customer')}"></li>

                      <li th:replace="~{support/fragments::nav-link('categories/categories','categories')}"></li>
                      <li th:replace="~{support/fragments::nav-link('categories/new-categories-form','New category')}"></li>

                     <li th:replace="~{support/fragments::nav-link('brands/brands','Brand')}"></li>
                      <li th:replace="~{support/fragments::nav-link('brands/new-brands-form','New Brand')}"></li>


                      <li th:replace="~{support/fragments::nav-link('products/products','Products')}"></li>
                      <li th:replace="~{support/fragments::nav-link('products/new-products-form','New Product')}"></li>

                      <li th:replace="~{support/fragments::nav-link('settings','settings')}"></li>

                      <li th:replace="~{support/fragments::nav-link('convert/convert','PdfConvert')}"></li>





                      <li class="nav-item ">
<!--                          <div th:replace="~{support/fragments::imageicon}" ></div>-->
                          <div th:replace="~{support/fragments/standerd/navbar/image_icon::content}" ></div>
                      </li>

                      <li class="nav-item  ">
                          <div th:replace="~{support/fragments::dropdown}"></div>
                      </li>

                      <li>
                          <a class="nav-link" data-bs-toggle="dropdown" th:text="${#authentication.principal.getAuthorities}"></a>


                      </li>

                  </ul>
              </div>
             </div>
          </nav>
      </div>



<!--===============================================================================-->
<!--                   Page Header with navbar var2 -->

<!--===============================================================================-->






<!-- Navbar start -->
<div      th:fragment="navbarV2" >
  <div class="container-fluid fixed-top p-xxl-5">
      <div class="container topbar bg-primary d-none d-lg-block">
          <div class="d-flex justify-content-between">
              <div class="top-info ps-2">
                  <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">123 Street, New York</a></small>
                  <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Email@Example.com</a></small>
              </div>
              <div class="top-link pe-2">
                  <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
                  <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
                  <a href="#" class="text-white"><small class="text-white ms-2">Sales and Refunds</small></a>
              </div>
          </div>
      </div>
      <div class="container px-0">
          <nav class="navbar navbar-light bg-white navbar-expand-xl">
              <a href="index.html" class="navbar-brand"><h1 class="text-primary display-6">Group Link</h1></a>
              <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                  <span class="fa fa-bars text-primary"></span>
              </button>
              <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                  <div class="navbar-nav mx-auto">
                      <div th:replace="~{support/fragments::nav-link('users/users','Users')}"></div>
                      <div th:replace="~{support/fragments::nav-link('users/new-users-form','New Users')}"></div>

                      <div th:replace="~{support/fragments::nav-link('categories/categories','categories')}"></div>
                      <div th:replace="~{support/fragments::nav-link('categories/new-categories-form','New category')}"></div>

                      <div th:replace="~{support/fragments::nav-link('brands/brands','Brand')}"></div>
                      <div th:replace="~{support/fragments::nav-link('brands/new-brands-form','New Brand')}"></div>

                      <div class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                          <div class="dropdown-menu m-0 bg-secondary rounded-0">

                              <div th:replace="~{support/fragments::dropdown}"></div>



                          </div>
                      </div>
                      <div th:replace="~{support/fragments::nav-link('products/products','Products')}"></div>
                      <div th:replace="~{support/fragments::nav-link('products/new-products-form','New Product')}"></div>

                  </div>
                  <div class="d-flex m-3 me-0">
                      <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
                      <a href="#" class="position-relative me-4 my-auto">
                          <i class="fa fa-shopping-bag fa-2x"></i>
                          <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                      </a>
                      <a href="#" class="my-auto">
                          <div th:replace="~{support/fragments::imageicon}" ></div>
<!--                          <div th:replace="~{support/fragments/standerd/image_icon::content}" ></div>-->

                      </a>
                  </div>
              </div>
          </nav>
      </div>
   </div>
</div>


<!-- Navbar End -->







<!--===============================================================================-->
                                <!-- not in use yet-->

<!--===============================================================================-->




      <ul th:fragment="navbar1"
          class="navbar-nav">
          <li th:each="item : ${navbarItems}">
          <li th:replace="support/fragments::nav-link(${item.url}, ${item.label})"></li>
          </li>
      </ul>
<!--===============================================================================-->

<!--                                         Search input                            -->
<!--===============================================================================-->

      <div  th:fragment="search"  >
           <div  class="d-inline-flex mb-2 " >
              <div>
                  <form class="d-inline-flex "  th:action="@{${search} }">
                      <input  type="hidden" name="sortFiled" th:value="${sortFiled}"/>
                      <input  type="hidden" name="sortDir" th:value="${sortDir}"/>

                      <input class="form-control " type="search" name="keyWord" th:value="${keyWord}" required  placeholder="Search User">

                      <input class="btn btn-outline-success"  value="Search" type="submit"/>
                      <input class="btn btn-outline-secondary" value="Clear" type="button" onclick="clearFilter()"/>
                  </form>
              </div>
          </div>
      </div>
<!--&lt;!&ndash;===============================================================================&ndash;&gt;-->

<!--                                         DropDown menu   -->
<!--===============================================================================-->



      <div  th:fragment="dropdown">
     <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
         <input   type="submit">
     </form>
          <div class="dropdown">

              <a class="nav-link" data-bs-toggle="dropdown" th:text="${#authentication.principal.getFullName}"></a>

              <ul class=" dropdown-menu ">
                  <li><a class="dropdown-item" id="logout"   >Log out</a></li>
                  <li><a class="dropdown-item" th:href="@{/account}">Profile</a></li>
                  <li><a class="dropdown-item" href="#">Link 3</a></li>
              </ul>
          </div>


      </div>
<!--===============================================================================-->
<!--                   Icon Image    -->

<!--===============================================================================-->
<div  class=" float-sm-end ">

<img th:fragment="imageicon"  type="button"
     th:if="${#authorization.expression('isAuthenticated()')}"
            th:src="${#authentication.principal.getImagePath}" id="account" class="rounded-circle dropdown-toggle float-sm-end "  style="width:25px" alt="User" />
<span  th:if="${#authorization.expression(!'isAuthenticated()')}"  class="fas fa-user fa-2 icon-green fa-2x float-sm-end"></span>
</div>







<!--===============================================================================-->
<!--                  footer    -->

<!--===============================================================================-->

<div th:fragment="footer"  >
            <p class="text-center text-primary display-3"   >[[${COPYRIGHT}]]</p>
    <p class="text-center" > [[${COPYRIGHT}]] </p>
</div>




<!--===============================================================================-->
<!--                 input-group row Category   -->

<!--===============================================================================-->

<div  th:fragment="input-group-category(name,label)"  class="input-group row">
    <label class="col-sm-4 col-form-label">[[${label}]]</label>
    <div class="col-sm-8">
        <input type="text" th:field="*{name}" required minlength="2" th:placeholder="${label}" class="form-control col-4 mb-4"/>
    </div>
</div>


<!--===============================================================================-->
<!--                 input-group row Category  image -->

<!--===============================================================================-->

<div th:fragment="input-group-category-image(label)"  class="form row" >
    <label class="col-sm-4 col-form-label">[[${label}]]</label>
    <div class="col-sm-8 ">
        <input class="mb-2" type="file" id="fileImage" name="image" accept="image/jpg, image/jpeg, image/png"/>
        <img class="img-thumbnail rounded-circle float-left "   id="thumbnail" style="width: 200px" alt="product Photo"
             th:src="@{${categoty}}" />
    </div>
</div>


<!--===============================================================================-->
<!--                Cancel and rest buttons -->

<!--===============================================================================-->

<div th:fragment="save-and-rest-buttons" class="text-center pe-3"  >
    <button class= "btn btn-primary " type="submit">Save</button>
    <button class= "btn btn-danger " type="reset"  id="buttonCancel">Rest</button>
</div>




<!--===============================================================================-->
<!--                    paginate  -->

<!--===============================================================================-->


<nav   th:fragment="paginate"  aria-label="paginate"  class="text-center flex mb-1" >
    <div  th:if="${totalItems>0}" >
        <span class="align-content-end"> showing users # [[${startCont}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>
    <div  th:unless="${totalItems>0}" >

        <span> No [[${url}]] Found</span>
    </div>

    <div  th:if="${totalPages>1}"   >


        <ul class="pagination justify-content-center flex-wrap" >

            <li class="page-item " th:classappend="${currentPage ==1 ?'disabled':''}">
                <a th:replace="~{support/fragments::page_link(1,'First')}" /></a>
            </li >

            <li class="page-item " th:classappend="${currentPage ==1 ?'disabled':''}">
                <a th:replace="~{support/fragments::page_link(${currentPage >= 2 ? (currentPage - 1) : 1}, 'Previous')}"></a>
            </li>

            <li class="page-item"  th:each="i :${#numbers.sequence(1,totalPages)} " th:classappend="${currentPage ==i ?'active':''}">
                <a th:replace="~{support/fragments::page_link(${i}, ${i})}" /></a>
            </li>


            <li class="page-item" th:classappend="${currentPage ==totalPages ?'disabled':''}">
                <a th:replace="~{support/fragments::page_link(${currentPage >= totalPages ? totalPages : (currentPage + 1)}, 'Next')}"></a>
            </li>

            <li class="page-item" th:classappend="${currentPage ==totalPages ?'disabled':''}">
                <a th:replace="~{support/fragments::page_link(${totalPages}, 'Last')}" /></a>
            </li>

        </ul>



    </div>
</nav>

<!--===============================================================================-->
<!--                   status         -->

<!--===============================================================================-->


<div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag">
    <a th:if="${enabled == true}"
       class="fas fa-check-circle fa-2x icon-green"
       th:href="@{${entityURL} + '/enabled/false'}"
       th:title="'Disable this ' + ${entityName}"></a> <a
        th:if="${enabled == false}" class="fas fa-circle fa-2x icon-dark"
        th:href="@{${entityURL} + '/enabled/true'}"
        th:title="'Enable this ' + ${entityName}"></a>
</div>


<!--===============================================================================-->
<!--                   Edit         -->

<!--===============================================================================-->


<div th:fragment="edit(entityName, editURL)" th:remove="tag">
    <a class="fas fa-edit fa-2x icon-green" th:href="@{${editURL}}"
       th:title="'Edit this ' + ${entityName}"></a>
</div>



<!--===============================================================================-->
<!--                   Delete         -->

<!--===============================================================================-->


<div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
    <th:block th:if="${visible}">
        <a class="fas fa-trash fa-2x icon-dark link-delete"
           th:href="@{${deleteURL}}" th:entityId="${entityId}"
           th:title="'Delete this ' + ${entityName}"></a>
    </th:block>
</div>




<!--===============================================================================-->
<!--                   modal   Dialog          -->

<!--===============================================================================-->


<div  th:fragment="modal"   >
    <div class="modal fade text-center" data-bs-toggle="modal" id ="confirmModal" data-bs-target="#modalDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id ="modalTitle"> Alert Message Box </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span>
                    <p></p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success"  href="" id="yesbutton">yes</a>


                    <button type="close" class="btn btn-danger" data-dismiss="modal">no</button>
                </div>
            </div>
        </div>
    </div>

</div>





</body>
</html>

