<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{support/fragments/standerd/header::content}"></head>


<body>


<div th:replace="~{support/fragments/navbar/navbar::content}"></div>

<h2 class="text-center">[[${pageTitle}]]</h2>

<div th:replace="~{support/fragments/standerd/search::content}"></div>


<form th:action="@{/categories/deleteCategories}" method="post" id="deleteForm">

    <div class=" justify-content-center mb-2 mt-2  ">
        <button class="fas fa-user-minus fa-2x icon-red " style="border: none; background: none;" type="submit"
                title="Delete Selected Categories"></button>

        <a th:href="@{/categories/new-categories-form}" class="fas fa-user-plus fa-2x icon-d-green"
           title="Add Category"></a>&nbsp;&nbsp;

        <a class="fas fa-file-csv fa-2x icon-primary" th:href="@{/categories/export/csv}" title="Export to CSV"></a>
        &nbsp;&nbsp;

        <a class="fas fa-file-pdf fa-2x icon-red" th:href="@{/categories/export/pdf}" title="Export to PDF"></a> &nbsp;&nbsp;

        <a class="fas fa-file-excel fa-2x icon-d-green" th:href="@{/categories/export/excel}"
           title="Export to Excel"></a>&nbsp;&nbsp;
    </div>


    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>


    <div class="full-details  less-details">
        <table class="table table-responsive me-sm-1 table-header table-striped  table-bordered " id="employeeTable">
            <thead class="table-dark ">
            <tr>

                <th>Select</th>
                <th th:replace="~{support/fragments/standerd/colum_link::contant('id', 'ID')}"></th>
                <th>image</th>
                <th th:replace="~{support/fragments/standerd/colum_link::contant('name', 'Name')}"></th>
                <th th:replace="~{support/fragments/standerd/colum_link::contant('alias', 'Alias')}"></th>
                <th th:replace="~{support/fragments/standerd/colum_link::contant('parent', 'Parent')}"></th>
                <th th:replace="~{support/fragments/standerd/colum_link::contant('children', 'Children')}"></th>
                <th th:replace="~{support/fragments/standerd/colum_link::contant('status', 'Status')}"></th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="category: ${categories}">


                <td>
                    <input class="form-check-input delete-checkbox " type="checkbox" name="selectedCategory"
                           th:value="${category.id}" id="flexCheckDefault">
                </td>

                <td th:text="${category.id}"></td>

                <td>
                    <span th:if="${category.getImage.isEmpty()}" class="fas fa-user  fa-fade fa-2x icon-golden "></span>
                    <img th:if="${category.image != null && !category.getImage.isEmpty() }"
                         th:src=" @{${category.getCatImagePath()}}" class="rounded mx-auto  d-block"
                         style="width: 40px; height: 40px;"/>

                </td>


                <td th:text="${category.name}"></td>
                <td th:text="${category.alias}"></td>


                <!--                              <td th:text="${category.parentIndentation() }"></td>-->

                <td>
                    <th:block th:each="cat : ${category.parent}">
                        <span class="badge rounded-pill bg-secondary" th:text="${cat.name}"></span>
                    </th:block>
                </td>

                <td>
                    <th:block th:each="cat : ${category.children}">
                        <span class="badge rounded-pill bg-secondary" th:text="${cat.name}"></span>
                    </th:block>
                </td>


                <td>
                    <a th:if="${category.isEnable == true}" class="fas fa-check-circle px-2 icon-green "
                       th:href="@{'/category/' + ${category.getId} +'/enable/false' } "
                       title="Disable Category"></a>
                    <!--                                                      &nbsp;-->
                    <a th:if="${category.isEnable() == false}" class="fas fa-circle px-2 icon-red"
                       th:href="@{'/category/' + ${category.getId} +'/enable/true' }"
                       title="Enable Category"></a>

                </td>

                <td>
                    <a class="fas fa-edit px-2 icon-green"
                       th:href="@{'/categories/edit/' + ${category.getId()}}"
                       title="Edit Category"></a>
                </td>


                <td><a class="fas fa-trash px-2 icon-red delete-confirmation"
                       th:href="@{'/delete-category/' + ${category.getId()}}"
                       th:id="${category.id}"

                       title="Delete Category"></a></td>
            </tr>


            </tbody>

        </table>

    </div>
</form>

                          <div  th:replace="~{support/fragments/standerd/paginate::content}"></div>


<div th:replace="~{support/fragments/standerd/modal::content}"></div>

 <div th:replace="~{support/fragments/standerd/footer::content}"></div>


<script type="text/javascript" th:src="@{/js/commonCat.js}"></script>

<script>
    const windowLocationValue = `[[@{${name}}]]`;

    $(document).ready(function () {
        $("#employeeTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] // 1st one, start by the right
            }]
        });
    });


</script>


</body>

</html>