<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta  http-equiv="Content-Type" charset="UTF-8" content="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" >

    <title>[[${pageTitle}]]</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.7.0/jquery.min.js}"> </script>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}" ></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}"/>

</head>
<body>


             <h2  class="text-center">[[${pageTitle}]]</h2>


              <div th:replace="~{fragments::navbar}"></div>



              <div th:replace="~{fragments::search}"></div>


             <form th:action="@{/categories/deleteCategories}" method="post" id="deleteForm">

             <div class=" justify-content-center mb-2 ">
                 <button class="fas fa-user-minus fa-2x icon-red " style="border: none; background: none;"  type="submit" title="Delete Selected Categories"></button>

                 <a th:href="@{/categories/new-category-form}" class="fas fa-user-plus fa-2x icon-d-green"     title="Add Category"  ></a>&nbsp;&nbsp;

                 <a  class="fas fa-file-csv fa-2x icon-primary" th:href="@{/categories/export/csv}"       title="Export to CSV"></a> &nbsp;&nbsp;

                 <a class="fas fa-file-pdf fa-2x icon-red" th:href="@{/categories/export/pdf}"            title="Export to PDF"></a> &nbsp;&nbsp;

                 <a class="fas fa-file-excel fa-2x icon-d-green" th:href="@{/categories/export/excel}"  title="Export to Excel"></a>&nbsp;&nbsp;
             </div>







             <div th:if="${message != null}" class="alert alert-success text-center" >
                 [[${message}]]
             </div>



             <div class="full-details  less-details">
    <table class="table table-responsive me-sm-1 table-header table-striped  table-bordered ">
        <thead class="table-dark " >
                   <tr>

                       <th>Select</th>
                       <th th:replace="~{fragments::colum_linkCat('id', 'ID')}"></th>
                       <th>image</th>
                       <th th:replace="~{fragments::colum_linkCat('name', 'Name')}"></th>
                       <th th:replace="~{fragments::colum_linkCat('alias', 'Alias')}"></th>
                       <th th:replace="~{fragments::colum_linkCat('parent', 'Parent')}"></th>
                       <th th:replace="~{fragments::colum_linkCat('children', 'Children')}"></th>
                       <th th:replace="~{fragments::colum_linkCat('status', 'Status')}"></th>
                        <th></th>
                        <th></th>
                  </tr>
        </thead>

        <tbody>
                       <tr th:each = "category: ${categories}">


                            <td>
                                <input class="form-check-input delete-checkbox " type="checkbox" name="selectedCategory" th:value="${category.getId}" id="flexCheckDefault">
                            </td>

                            <td th:text="${category.id}"></td>

                            <td>
                                  <span th:if="${category.getImage.isEmpty()}" class="fas fa-user  fa-fade fa-2x icon-golden "></span>
                                <img th:if="${category.image != null && !category.getImage.isEmpty() }"  th:src=" @{${category.getCatImagePath()}}" class="rounded mx-auto  d-block" style="width: 40px; height: 40px;"  />

                            </td>


                            <td th:text="${category.name}"></td>
                            <td th:text="${category.alias}"></td>


                              <td th:text="${category.parentIndentation() }"></td>


                              <td th:text="${category.childNames(category)}"></td>



                           <td >
                               <a th:if="${category.isEnable == true}" class="fas fa-check-circle px-2 icon-green "
                                  th:href="@{'/category/' + ${category.getId} +'/enable/false' } "
                                  title="Disable Category"></a>
                               <!--                                                      &nbsp;-->
                               <a th:if="${category.isEnable() == false}" class="fas fa-circle px-2 icon-red"
                                  th:href="@{'/category/' + ${category.getId} +'/enable/true' }"
                                  title="Enable Category"></a>

                           </td>

                           <td >
                               <a class="fas fa-edit px-2 icon-green"
                                  th:href="@{'/category/edit/' + ${category.getId()}}"
                                  title="Edit Category"></a>
                           </td>



                           <td><a class="fas fa-trash px-2 icon-red delete-confirmation"
                                  th:href="@{'/categories/delete-Category/' + ${category.getId()}}"
                                  th:userId="${category.id}"

                                  title="Delete Category"></a> </td>
                       </tr>


        </tbody>

    </table>

</div>


                 <nav aria-label="paginat"  class="text-center flex mb-1" >
                     <div  th:if="${totalItems>0}" >
                         <span class="align-content-end"> showing users # [[${startCont}]] to [[${endCount}]] of [[${totalItems}]]</span>
                     </div>
                     <div  th:unless="${totalItems>0}" >
                         <span> No Users Found</span>
                     </div>

                     <div  th:if="${totalPages>1}"   >




                         <ul class="pagination justify-content-center flex-wrap" >

                             <li class="page-item " th:classappend="${currentPage ==1 ?'disabled':''}">
                                 <a th:replace="~{fragments::page_linkCat(1,'First')}" /></a>

                             </li >

                             <li class="page-item " th:classappend="${currentPage ==1 ?'disabled':''}">

                                 <a th:replace="~{fragments::page_linkCat(${currentPage >= 2 ? (currentPage - 1) : 1}, 'Previous')}"></a>

                             </li>

                             <li class="page-item"  th:each="i :${#numbers.sequence(1,totalPages)} " th:classappend="${currentPage ==i ?'active':''}">

                                 <a th:replace="~{fragments::page_linkCat(${i}, ${i})}" /></a>

                             </li>

                             <li class="page-item" th:classappend="${currentPage ==totalPages ?'disabled':''}">

                                 <a th:replace="~{fragments::page_linkCat(${currentPage >= totalPages ? totalPages : (currentPage + 1)}, 'Next')}"></a>

                             </li>

                             <li class="page-item" th:classappend="${currentPage ==totalPages ?'disabled':''}">
                                 <a th:replace="~{fragments::page_linkCat(${totalPages}, 'Last')}" /></a>


                             </li>

                         </ul>



                     </div>
                 </nav>






                            <div th:replace="~{fragments::footer}"></div>

             <div class="modal fade text-center" data-bs-toggle="modal" id ="confirmModal" data-bs-target="#modalDialog" tabindex="-1" role="dialog">
                 <div class="modal-dialog" role="document">
                     <div class="modal-content">
                         <div class="modal-header">
                             <h3 class="modal-title" id ="modalTitle"> Alert Message Box </h3>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                             </button>
                         </div>
                         <div class="modal-body">
                             <span id="modalBody"></span>
                             <p></p>
                         </div>
                         <div class="modal-footer">
                             <a class="btn btn-success"  href="" id="yesbutton">yes</a>


                             <button type="close" class="btn btn-danger" data-dismiss="modal">no</button>
                         </div>
                     </div>
                 </div>
             </div>


             <script type="text/javascript">
                 $(document).ready(function (){
                     $(".delete-confirmation").on("click", function (e){
                         e.preventDefault();
                         link=$(this);
                         userId=link.attr("userId");


                         $("#yesbutton").attr("href", link.attr('href'));

                         $("#modalTitle").text("Warning");
                         $("#modalBody").text("Are You Sure You want to delete  Cat :   " +userId);
                         $("#confirmModal").modal('show');
                     });
                 });



             </script>

</form>

             <script type="text/javascript" th:src="@{/js/commonCat.js.js}" ></script>
</body>

</html>