<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{support/fragments/standerd/header::content}"></head>


<body>

<div th:replace="~{support/fragments/standerd/navbar/navbar::content}"></div>
<h2 class="text-center">[[${pageTitle}]]</h2>
<div th:replace="~{support/fragments/standerd/search::content}"></div>


<div class="container-fluid">


    <div class="container">


        <form th:action="@{${saveChanges}}" th:object="${category}" method="post"

              enctype="multipart/form-data" style="max-width: 7500px ; margin: 0 auto"

              onsubmit="return checkUnique(this);">


            <input type="hidden" id="id" name="id" th:value="${id}"/>

            <div class="border border-secondary rounded p-3">

                <!--            <div th:replace="~{support/fragments::input-group-category(name,Name)}" ></div>-->

                <div class="input-group row">
                    <label class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{name}" required minlength="2" placeholder="enter first name"
                               class="form-control col-4 mb-4"/>
                    </div>
                </div>


                <div class="input-group row">
                    <label class="col-sm-4 col-form-label">Alias</label>
                    <div class="col-sm-8">

                        <input type="text" th:field="*{alias}" id="alies" placeholder="enter last name"
                               class="form-control col-2 mb-2"/>
                    </div>
                </div>


                <div class="input-group row">
                    <label class="col-sm-4 col-form-label">[[${label}]]</label>
                    <div class="col-sm-8">
                        <select class="form-control" th:field="*{parent}">
                            <option value="0"> [No Parent]</option>

                            <th:block th:each="cat : ${listItems}">
                                <option th:value="${cat.id}"> [[${cat.name}]]</option>

                            </th:block>

                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Enabled:</label>
                    <div class="col-sm-10">
                        <input class="text-center" type="checkbox" th:field="*{enable}"/>
                    </div>
                </div>


                <div class="form row">
                    <label class="col-sm-4 col-form-label">[[${label}]]</label>
                    <div class="col-sm-8 ">
                        <input type="hidden" th:field="*{image}"/>
                        <input class="mb-2" type="file" id="fileImage" name="fileImage"
                               accept="image/jpg, image/jpeg, image/png"/>
                        <div class="mb-2">
                            <img class="img-thumbnail rounded-circle float-left " id="thumbnail" style="width: 200px"
                                 alt="product Photo"
                                 th:src="@{${category.getCatImagePath()}}"/>

                        </div>
                    </div>
                </div>


            </div>


            <div th:replace="~{support/fragments/standerd/save-and-rest-button::content}"></div>


        </form>


        <div th:replace="~{support/fragments::modal}"></div>



    </div>



</div>
<div th:replace="~{support/fragments/standerd/footer::content}"></div>

<script type="text/javascript" th:src="@{/js/commonCat.js}"></script>

<script type="text/javascript">


    Max_File_Size = 1042000;


    const windowLocationValue = `[[@{${name}}]]`;

    const url = "[[@{'/check_unique'}]]";


</script>

<script>$j = jQuery.noConflict();

var $ = jQuery; </script>


</body>
</html>